{{>home/form-msg}}

<h1> All Posts</h1>
<table class="table table-bordered">
   <thead>
       <tr>
        <th>Id</th>
        <th>Image</th>
        <th>Title</th>
        <th>Allow Comment</th>
        <th>Status</th>
       </tr>
   </thead>
    <tbody>
        {{#each posts}}
       <tr>
        <td>{{_id}}</td>
        <td><img src="/uploads/{{file}}" width="100px" height="100px"></td>
        <td>{{title}}</td>
        <td>{{allowComments}}</td>
        <td>{{status}}</td>
        <td><a class="btn btn-primary" href="/admin/posts/edit/{{_id}}">Edit </a></td>
        <td>
             <form action="/admin/posts/delete/{{_id}}?_method=DELETE" method="post">
             <button type="submit" class="btn btn-danger" > Delete</button>
             </form>
         </td>
       </tr>
       {{/each}}
    </tbody>
</table>